<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/IMG_0438.PNG" alt="dimas" class="img-thumbnail rounded-circle" style="width: 20% ;">
            <h1 class="display-4">dimas setiya</h1>
            <p class="lead">programer</p>
        </div>
    </div>
</div>